extends layout
// Benytter vores layout.pug template

block content
        h1= title
        p Welcome to #{title}
        if booksarr  
                table()
                  tr  
                        th Title
                        th ISBN
                        each book in booksarr
                            tr
                                    td #{}
                                    td #{}  