doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      header 
        nav 
          ul  
            li
              a() Home
            li 
              a() Register
            li
              a() Login
    block content
