extends layout

block content
    h1= title
    p Show bookcopies here
    main
    table
         each bookcopies in bookscopies
            tr
                td #{bookcopies.bookid}
                td #{bookcopies.id}