extends layout

block content
    h1= title
    p Show bookcopies here
    main
    table
         each bookid in bookcopies
            tr
                td #{bookid.bookid}
                td #{bookid.id}