extends layout

block content
	h1= title
	p Please register
	form(id='reguser' action='/userform' method='post')
		table
			tr
				td Password
				td
					input(type='text' name='password' required)
			tr
				td CPR
				td
					input(type='text' name='cpr' required)
			tr
				td Email
				td
					input(type='text' name='email' required)
			tr
				td First Name
				td
					input(type='text' name='firstname' required)
			tr
				td Middle Name
				td
					input(type='text' name='middlename' required)
			tr
				td Last Name
				td
					input(type='text' name='lastname' required)
			tr
				td Newsletter
				td
					input(type='checkbox' name='newsletter' required)
			tr
				td
				td
					input(type='submit' value='Go')