body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#navmenu {
  border: 0px solid red;
  float: left;
  line-height: 1.8em;
  width: 200px;
}
#content {
  background-color: #ffffcc;
  float: left;
  margin: 1em;
  padding: 1em;
  width: 640px;
}